.profile__edit-button {
    border: 1px solid #FFFFFF;
    height: 24px;
    width: 24px;
    margin: 37px 0px 59px 0px;
    background-color: #000;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width:425px) {
    .profile__edit-button {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 18px;
        width: 18px;
        margin-top: 30px;
    }
}