.profile {
    margin: 36px auto 47px;
    display: flex;
    max-width: 880px;
    flex-wrap: wrap;
}

@media screen and (max-width:630px) {
    .profile {
        flex-direction: column;
        margin: 42px 19px 36px;
    }
}