.header {
    margin: 45px auto 0px;
    max-width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:425px) {
    .header {
        margin-top: 28px;
    }
}