.popup__name {
    margin: 0px 36px 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 27px;
    border: none;
    border-bottom: 1px solid #c7c1c1;
}

@media screen and (max-width:425px) {
    .popup__name {
        margin: 0px 22px 30px;
    }
    
}