.profile__add-button {
    border: 1px solid #FFFFFF;
    height: 50px;
    width: 150px;
    margin: auto 0px auto auto;
    justify-self: flex-end;
    background-color: #000;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width:425px) {
    .profile__add-button{
        width: 100%;
    }
}